header {
    background-color: #84CCFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    max-width: 100px;
}

button {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    margin-right: 10px;
    cursor: pointer;
}

/* Hide or show the whole navigator container by id */
#openNavigator {
    display: none;
}

#closeNavigator {
    display: block;
}

#navigationImg {
    width: 40px;
    height: 40px;
} 

ul {
    background-color: #0284C7;
    padding: 10px;
    margin: 0;
    text-align: center;
}

li {
    list-style-type: none;
    margin: 10px;
}