#welcomeBunner {
    background-color: #BCEBFF;
    padding: 20px;
    text-align: center;
}

#imgBanner {
    text-align: center;
    width: 100%;
}

#imgBanner img {
    max-width: 100%;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

#infos {
    background-color: #BCEBFF;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}