*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #EFF9FF;
}

header {
    background-color: #84CCFF;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    background-color: #84CCFF;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#welcomeBunner {
    background-color: #BCEBFF;
    padding: 20px;
    text-align: center;
}

#imgBunner {
    text-align: center;
    margin: 20px 0;
}

#infos {
    background-color: #BCEBFF;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}